<div class="container py-5">
  <h2 class="text-center my-5">Nuestros productos</h2>
  <div class="row g-0 pt-5">
    <div class="col-md-8 productos">
      <img src="assets/img/producto1.jpg" class="img-fluid" />
    </div>
    <div
      class="col-md-4 bg-primary text-center p-5 text-white d-flex flex-column justify-content-center"
    >
      <h3 class="mb-5">Producto 1</h3>
      <p class="fs-4 mb-5">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Molestias
        id est, rem error fugiat quasi,
      </p>
      <h3 class="fs-2 mb-5">1,0000,000,000</h3>
      <a
        class="fs-4 text-white text-decoration-none btn btn-success fw-bold"
        href="#"
        >Agregar al carrito</a
      >
    </div>
  </div>
  <div class="row mt-4">
    <div class="col-md-6 mb-5">
      <div class="card">
        <img src="assets/img/producto2.jpg" class="card-img-top" alt="Imagen producto" />
        <div
          class="bg-primary text-center p-5 text-white d-flex flex-column justify-content-center"
        >
          <h3 class="mb-5">Producto 2</h3>
          <p class="fs-4 mb-5">
            Lorem ipsum dolor sit amet consectetur adipisicing elit.
            Molestias id est, rem error fugiat quasi,
          </p>
          <h3 class="fs-2 mb-5">1,0000,000,000</h3>
          <a
            class="fs-4 text-white text-decoration-none btn btn-success fw-bold"
            href="#"
            >Agregar al carrito</a
          >
        </div>
      </div>
    </div>
    <div class="col-md-6 mb-5">
      <div class="card">
        <img src="assets/img/producto3.jpg" class="card-img-top" alt="Imagen producto" />
        <div
          class="bg-primary text-center p-5 text-white d-flex flex-column justify-content-center"
        >
          <h3 class="mb-5">Producto 3</h3>
          <p class="fs-4 mb-5">
            Lorem ipsum dolor sit amet consectetur adipisicing elit.
            Molestias id est, rem error fugiat quasi,
          </p>
          <h3 class="fs-2 mb-5">1,0000,000,000</h3>
          <a
            class="fs-4 text-white text-decoration-none btn btn-success fw-bold"
            href="#"
            >Agregar al carrito</a
          >
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-4 mb-5">
      <div class="card">
        <img src="assets/img/producto4.jpg" class="card-img-top" alt="Imagen producto" />
        <div
          class="bg-primary text-center p-5 text-white d-flex flex-column justify-content-center"
        >
          <h3 class="mb-5">Producto 4</h3>
          <p class="fs-4 mb-5">
            Lorem ipsum dolor sit amet consectetur adipisicing elit.
            Molestias id est, rem error fugiat quasi,
          </p>
          <h3 class="fs-2 mb-5">1,0000,000,000</h3>
          <a
            class="fs-4 text-white text-decoration-none btn btn-success fw-bold"
            href="#"
            >Agregar al carrito</a
          >
        </div>
      </div>
    </div>
    <div class="col-md-4 mb-5">
      <div class="card">
        <img src="assets/img/producto5.jpg" class="card-img-top" alt="Imagen producto" />
        <div
          class="bg-primary text-center p-5 text-white d-flex flex-column justify-content-center"
        >
          <h3 class="mb-5">Producto 5</h3>
          <p class="fs-4 mb-5">
            Lorem ipsum dolor sit amet consectetur adipisicing elit.
            Molestias id est, rem error fugiat quasi,
          </p>
          <h3 class="fs-2 mb-5">1,0000,000,000</h3>
          <a
            class="fs-4 text-white text-decoration-none btn btn-success fw-bold"
            href="#"
            >Agregar al carrito</a
          >
        </div>
      </div>
    </div>
    <div class="col-md-4 mb-5">
      <div class="card">
        <img src="assets/img/producto6.jpg" class="card-img-top" alt="Imagen producto" />
        <div
          class="bg-primary text-center p-5 text-white d-flex flex-column justify-content-center"
        >
          <h3 class="mb-5">Producto 6</h3>
          <p class="fs-4 mb-5">
            Lorem ipsum dolor sit amet consectetur adipisicing elit.
            Molestias id est, rem error fugiat quasi,
          </p>
          <h3 class="fs-2 mb-5">1,0000,000,000</h3>
          <a
            class="fs-4 text-white text-decoration-none btn btn-success fw-bold"
            href="#"
            >Agregar al carrito</a
          >
        </div>
      </div>
    </div>
  </div>
</div>
