<section class="container">
  <h2 class="text-center">Categorias de Productos</h2>
  <div class="row mt-5">
    <div class="col-md-4 categoria mb-2">
      <div class="overflow-hidden">
        <img class="img-fluid" src="assets/img/categoria1.jpg" alt="" />

        <a
          class="text-decoration-none text-dark fs-2 d-block text-center py-3"
          href=""
          >Oficina</a
        >
      </div>
    </div>
    <div class="col-md-4 categoria mb-2">
      <div class="overflow-hidden">
        <img class="img-fluid" src="assets/img/categoria2.jpg" alt="" />

        <a
          class="text-decoration-none text-dark fs-2 d-block text-center py-3"
          href=""
          >Hogar</a
        >
      </div>
    </div>
    <div class="col-md-4 categoria mb-2">
      <div class="overflow-hidden">
        <img class="img-fluid" src="assets/img/categoria3.jpg" alt="" />

        <a
          class="text-decoration-none text-dark fs-2 d-block text-center py-3"
          href=""
          >Cocina</a
        >
      </div>
    </div>
  </div>
</section>
