<footer class="pt-5 mt-5 border-top">
  <div class="container mt-5">
    <div class="row">
      <div class="col-md-4 mb-4 text-center d-flex flex-column">
        <h3 class="mb-4">Categorias</h3>
        <a href="" class="text-black text-decoration-none">Cocina</a
        ><a href="" class="text-black text-decoration-none">Oficina</a
        ><a href="" class="text-black text-decoration-none">Jardin</a
        ><a href="" class="text-black text-decoration-none">Cochera</a
        ><a href="" class="text-black text-decoration-none">Dormitorio</a>
      </div>
      <div class="col-md-4 mb-4 text-center d-flex flex-column">
        <h3 class="mb-4">Sobre nosotros</h3>
        <a href="" class="text-black text-decoration-none">Nuestra historia</a
        ><a href="" class="text-black text-decoration-none"
          >Mision, Vision y Valores</a
        ><a href="" class="text-black text-decoration-none">Carreras</a
        ><a href="" class="text-black text-decoration-none"
          >Pololitica de Privacidad</a
        ><a href="" class="text-black text-decoration-none"
          >Terminos del servicio</a
        >
      </div>
      <div class="col-md-4 mb-4 text-center d-flex flex-column">
        <h3 class="mb-4">Soporte</h3>
        <a href="" class="text-black text-decoration-none"
          >Preguntas frecuentes</a
        ><a href="" class="text-black text-decoration-none">Ayuda en Linea</a
        ><a href="" class="text-black text-decoration-none"
          >Confianza y seguridad</a
        >
      </div>
    </div>
  </div>
  <div class="text-center fs-2 mt-5">
    Todos los derechos Reservados. TiendaMuebles
  </div>
</footer>
