<div class="container-xl">
  <div class="row align-items-center g-5">
    <h2 class="text-center">Sobre Nosotros</h2>
    <div class="col-md-6">
      <img
        src="assets/img/nosotros.jpg"
        class="img-fluid"
        alt="imagen sobre nosotros"
      />
    </div>
    <div class="col-md-6 fs-5">
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Debitis
        repellendus laboriosam eos voluptatum aliquid consequuntur ipsum, minus
        facere cupiditate obcaecati vel vitae nemo aut aperiam officia eveniet
        eum, soluta eius. Ipsa quis molestiae quod ullam, commodi quidem quo
        accusamus tempora vero. Autem labore repellat sit quia sunt distinctio
      </p>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptate
        itaque laborum, error, iure nam voluptates dolor saepe quia nihil,
        numquam facere ipsa? Qui labore harum molestiae neque illum doloremque
      </p>
    </div>
  </div>
</div>
